page-start {
  ion-list-header{
    color: #000 !important;
    font-weight: bolder;
    font-size: 200% !important;
  }
  ion-label{
    white-space: normal;
  }

  #header-img{
    margin: auto;
    display: block;
  }
}
