<!--
  Generated template for the SpielDetailViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Spiele {{spielView.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ng-template ngFor let-spiel [ngForOf]="spielView.allSpiel">
    <ion-card>
      <ion-card-header>{{spiel.heimMannschaft.name}} : {{spiel.gastMannschaft.name}}</ion-card-header>
      <ion-card-content>
        <h3>
          {{formatDate(spiel.dateTime)}}
        </h3>
        <p>Ergebnis: {{spiel.heimTore}}:{{spiel.gastTore}}</p>
        <p>Platz: {{spiel.spielPlatz}}</p>


      </ion-card-content>
      <ion-item *ngIf="applicationData.authenticatedUser.hasRecht('ROLE_KAMPFGERICHT')">
        <button *ngIf="hasNoErgebnis(spiel) && !isSpielleiter()" ion-button item-start color="secondary" clear
                (click)="ergebnisEintragen(spiel)">
          Ergebnis eintragen
        </button>
        <button *ngIf="isSpielleiter()" ion-button item-start color="secondary" clear
                (click)="ergebnisEintragen(spiel)">
          Ergebnis ändern
        </button>
      </ion-item>
    </ion-card>
  </ng-template>
</ion-content>
