<!--
  Generated template for the SpielDetailViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Spiele {{spielView.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label text-center *ngIf="spielView.showTabelle">Tabelle <span *ngIf="hasTwoGroups">Gruppe A</span></ion-label>
  </ion-item>
  <table class="spiel-table" *ngIf="spielView.showTabelle">
    <thead>
    <tr>
      <th>Platz</th>
      <th>Mannschaft</th>
      <th>Punkte</th>
      <th>Tore</th>
      <th *ngIf="applicationData.authenticatedUser.hasRecht('ROLE_KAMPFGERICHT')">Gruppe wechseln</th>
      <th *ngIf="applicationData.authenticatedUser.hasRecht('ROLE_KAMPFGERICHT')">Gruppen Index setzen</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-mannschaft [ngForOf]="allMannschaftGruppeA">
      <tr>
        <td>{{mannschaft.tabellenPlatz}}.</td>
        <td>{{mannschaft.name}}</td>
        <td>{{mannschaft.punkteverhaeltnis.first}}:{{mannschaft.punkteverhaeltnis.second}}</td>
        <td>{{mannschaft.torverhaeltnis.first}}:{{mannschaft.torverhaeltnis.second}}</td>

        <td *ngIf="applicationData.authenticatedUser.hasRecht('ROLE_KAMPFGERICHT')">
          <button ion-button (click)="changeGroup(mannschaft, 'B')" color="primary">Zu Gruppe B wechseln
          </button>
        </td>
        <td *ngIf="applicationData.authenticatedUser.hasRecht('ROLE_KAMPFGERICHT')">
          <button ion-button clear icon-only (click)="setIndexUp(mannschaft, allMannschaftGruppeA)" color="primary">
            <ion-icon name="arrow-dropup"></ion-icon>
          </button>
          <button ion-button clear icon-only (click)="setIndexDown(mannschaft, allMannschaftGruppeA)" color="primary">
            <ion-icon name="arrow-dropdown"></ion-icon>
          </button>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </table>
  <ng-container *ngIf="hasTwoGroups">
    <ion-item>
      <ion-label text-center *ngIf="spielView.showTabelle">Tabelle Gruppe B</ion-label>
    </ion-item>
    <table class="spiel-table" *ngIf="spielView.showTabelle">
      <thead>
      <tr>
        <th>Platz</th>
        <th>Mannschaft</th>
        <th>Punkte</th>
        <th>Tore</th>
        <th *ngIf="applicationData.authenticatedUser.hasRecht('ROLE_KAMPFGERICHT')">Gruppe wechseln</th>
        <th *ngIf="applicationData.authenticatedUser.hasRecht('ROLE_KAMPFGERICHT')">Gruppen Index setzen</th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-mannschaft [ngForOf]="allMannschaftGruppeB">
        <tr>
          <td>{{mannschaft.tabellenPlatz}}.</td>
          <td>{{mannschaft.name}}</td>
          <td>{{mannschaft.punkteverhaeltnis.first}}:{{mannschaft.punkteverhaeltnis.second}}</td>
          <td>{{mannschaft.torverhaeltnis.first}}:{{mannschaft.torverhaeltnis.second}}</td>

          <td *ngIf="applicationData.authenticatedUser.hasRecht('ROLE_KAMPFGERICHT')">
            <button ion-button (click)="changeGroup(mannschaft, 'A')" color="primary">Zu Gruppe A wechseln
            </button>
          </td>
          <td *ngIf="applicationData.authenticatedUser.hasRecht('ROLE_KAMPFGERICHT')">
            <button ion-button clear icon-only (click)="setIndexUp(mannschaft, allMannschaftGruppeB)" color="primary">
              <ion-icon name="arrow-dropup"></ion-icon>
            </button>
            <button ion-button clear icon-only (click)="setIndexDown(mannschaft, allMannschaftGruppeB)" color="primary">
              <ion-icon name="arrow-dropdown"></ion-icon>
            </button>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </ng-container>
  <ion-item>
    <ion-label text-center>Spiele</ion-label>
  </ion-item>
  <table class="spiel-table spiel-table-block">
    <thead>
    <tr>
      <th>Platz</th>
      <th>Gr</th>
      <th>Zeit</th>
      <th>Heim</th>
      <th>Gast</th>
      <th>Erg</th>
      <th *ngIf="applicationData.authenticatedUser.hasRecht('ROLE_KAMPFGERICHT')">
        <ion-icon name="create"></ion-icon>
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-spiel [ngForOf]="spielView.allSpiel">
      <tr>
        <td>{{spiel.spielPlatz}}</td>
        <td>
          <span *ngIf="notKoSpiel(spiel)">{{spiel.gruppe}}</span>
        </td>
        <td>{{formatDate(spiel.dateTime)}}</td>
        <td>{{spiel.heimMannschaft.name}}</td>
        <td>{{spiel.gastMannschaft.name}}</td>
        <td>{{spiel.heimTore}}:{{spiel.gastTore}}</td>
        <td *ngIf="applicationData.authenticatedUser.hasRecht('ROLE_KAMPFGERICHT')">
          <button *ngIf="hasNoErgebnis(spiel) && !isSpielleiter()" ion-button item-start color="secondary" clear
                  (click)="ergebnisEintragen(spiel)">
            <ion-icon name="create"></ion-icon>
          </button>
          <button *ngIf="isSpielleiter()" ion-button item-start color="secondary" clear
                  (click)="ergebnisEintragen(spiel)">
            <ion-icon name="create"></ion-icon>
          </button>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </table>
</ion-content>
