// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-card-header {
  font-weight: bolder;
}

.spiel-table {
  display: table;
  width: 100%;

  table {
    border-collapse: collapse;
  }
  th {
    background-color: color($colors, primary);
  }
  td, th {
    text-align: center;
    padding: 12px 4px;
  }

  tr:nth-child(even) {
    background-color: color($colors, light);
  }
}

.spiel-table {
  display: inline-flex;
  width: 100%;

  table {
    border-collapse: collapse;
  }
  th {
    background-color: color($colors, primary);
  }
  td, th {
    text-align: center;
    padding: 12px 4px;
  }

  tr:nth-child(even) {
    background-color: color($colors, light);
  }
}

.spiel-table-block {
  display: block;
  overflow-x: auto;
  @media only screen and (min-width: 508px) {
    display: table;
  }
}
