<!--
  Generated template for the MannschaftDetailViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mannschaft Übersicht</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header style="font-weight: bolder;">
      {{mannschaft.name}} {{mannschaft.jugend.jahrgang}} {{mannschaft.jugend.typ}}
    </ion-card-header>
    <ion-item>
      <p>Tabellenplatz: {{mannschaft.tabellenPlatz}}</p>
    </ion-item>

    <ion-item>
      <p>Punkteverhältnis: {{mannschaft.punkteverhaeltnis.first}}:{{mannschaft.punkteverhaeltnis.second}}</p>
    </ion-item>
    <ion-item>
      <p>Torverhältnis: {{mannschaft.torverhaeltnis.first}}:{{mannschaft.torverhaeltnis.second}}</p>
    </ion-item>
    <ion-item>
      <p>Foto gemacht: <span *ngIf="mannschaft.hasFoto">ja</span><span *ngIf="!mannschaft.hasFoto">nein</span></p>
    </ion-item>

    <ion-item *ngIf="applicationData.authenticatedUser.hasRecht('ROLE_KAMPFGERICHT')">
      <button *ngIf="!mannschaft.hasFoto" ion-button item-start color="secondary" clear (click)="setFotoGemacht(true)">
        Foto gemacht
      </button>
      <button *ngIf="mannschaft.hasFoto" ion-button item-start color="secondary" clear (click)="setFotoGemacht(false)">
        Foto nicht gemacht
      </button>
      <button *ngIf="applicationData.authenticatedUser.hasRecht('ROLE_SPIELLEITER')"
              ion-button item-end color="danger" clear (click)="deleteMannschaft(verein)">Löschen
      </button>
    </ion-item>
  </ion-card>

  <table class="spiel-table spiel-table-block">
    <thead>
    <tr>
      <th>Platz</th>
      <th>Gr</th>
      <th>Zeit</th>
      <th>Heim</th>
      <th>Gast</th>
      <th>Erg</th>
      <th *ngIf="applicationData.authenticatedUser.hasRecht('ROLE_KAMPFGERICHT')">
        <ion-icon name="create"></ion-icon>
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-spiel [ngForOf]="allMannschaftSpiel">
      <tr>
        <td>{{spiel.spielPlatz}}</td>
        <td>
          <span *ngIf="notKoSpiel(spiel)">{{spiel.gruppe}}</span>
        </td>
        <td>{{formatDate(spiel.dateTime)}}</td>
        <td>{{spiel.heimMannschaft.name}}</td>
        <td>{{spiel.gastMannschaft.name}}</td>
        <td>{{spiel.heimTore}}:{{spiel.gastTore}}</td>
        <td *ngIf="applicationData.authenticatedUser.hasRecht('ROLE_KAMPFGERICHT')">
          <button *ngIf="hasNoErgebnis(spiel) && !isSpielleiter()" ion-button item-start color="secondary" clear
                  (click)="ergebnisEintragen(spiel)">
            <ion-icon name="create"></ion-icon>
          </button>
          <button *ngIf="isSpielleiter()" ion-button item-start color="secondary" clear
                  (click)="ergebnisEintragen(spiel)">
            <ion-icon name="create"></ion-icon>
          </button>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </table>

</ion-content>
